<div class="container Rebresentive p-5 mt-5 d-flex justify-content-center">
  <form
    [formGroup]="wsettingForm"
    (submit)="submitForm()" >
    <h3 class="mb-4 p-2">اعدادات تكلفه الشحن الاضافيه بالنسبه لوزن الشحنه</h3>

    <div class="row">
      <div class="c">
        <label class="col-form-label">
          تكلفه الشحن الافتراضيه (بالجنيه) من 0 كجم الى وزن
        </label>
        <input
          class="form-control mt-2 me-1"
          type="number"
          name="weight_shipping"
          id="weight_shipping"
          formControlName="weight_shipping"
          [(ngModel)]="weight_shipping"
        />

        <ng-container *ngIf="getshippingweight.touched">
          <div
            *ngIf="getshippingweight.hasError('required')"
            id="NameHelp"
            class="form-text text-danger"
          >
            مطلوب *
          </div>
        </ng-container>
      </div>
      <div class="">
        <label class="col-form-label"> سعر كل كجم اضافي بمبلغ (بالجنيه) </label>
        <input
          class="form-control mt-2 me-1"
          type="number"
          name="extra_weight"
          id="extra_weightcost"
          formControlName="extra_weight"
          [(ngModel)]="extra_weight"
        />
        <ng-container *ngIf="getextraweight.touched">
          <div
            *ngIf="getextraweight.hasError('required')"
            id="NameHelp"
            class="form-text text-danger"
          >
            مطلوب*
          </div>
        </ng-container>
      </div>
    </div>
    <div class="m-4">
      <button type="submit"  (click)="modal()" class="btn a text-light " >
        {{ isEditMode ? "تعديل" : "اضافة" }}
      </button>
    </div> 
    
  </form>
</div>
