<div class="container">
  <div class="Rebresentive p-3 mt-2">
    <h3>المناديب </h3>
    <div class=" d-flex gray">
      <p class="px-2" ><i class="fa-solid fa-house-chimney"></i></p>
      <p class="px-2 "><i class="fa-solid fa-chevron-left"></i></p>
      <p class="px-2 event" [routerLink]="['/employee/getAllRepresentive']">المناديب</p>
      <p class="px-2 "><i class="fa-solid fa-chevron-left"></i></p>
      <p class="px-2 text-black">{{action}}</p>
    </div>
  </div>

  <div class="Rebresentive p-3 mt-2">
    <h3>{{actionTitle}}</h3>
    <form class="p-1" [formGroup]="AddRepresentive" (submit)="Add($event)">
      <div class="row">
        <div class="col-lg-4">
          <label for="RepresentiveName" class="col-form-label"> الاسم</label>
          <input type="text" id="RepresentiveName" class="form-control " placeholder="ادخل الاسم باللغة الانجليزيه" name="RepresentiveName"
            formControlName="RepresentiveName" required>
            <ng-container *ngIf="getRepresentiveName.touched">

              <div *ngIf="getRepresentiveName.hasError('required')" class="form-text error">
                اسم المندوب مطلوب
              </div>

              <div *ngIf="getRepresentiveName.hasError('minlength')" class="form-text error">
                ادخل اسم صحيح
              </div>
              <div *ngIf="getRepresentiveName.hasError('pattern')" class="form-text error">
                ادخل اسم صحيح
              </div>
            </ng-container>
        </div>
        <div class="col-lg-4">
          <label for="Email" class="col-form-label">البريد الالكتروني</label>
          <input type="email" id="Email" class="form-control" name="RepresentiveName" formControlName="Email" required>
          <ng-container *ngIf="getEmail.touched">

            <div *ngIf="getEmail.hasError('required')" class="form-text error">
              ادخل البريد الالكتروني
            </div>
            <div *ngIf="getEmail.hasError('pattern')" class="form-text error">
              ادخل بريد الكتروني صحيح
            </div>
          </ng-container>
        </div>
        <div class="col-lg-4">
          <label for="password" class="col-form-label">كلمه المرور </label>
          <input type="password" class="form-control" id="password" class="form-control" name="password"
            formControlName="password">
            <ng-container *ngIf="getPassword.touched">

              <div *ngIf="getPassword.hasError('required')" class="form-text error">
                يجب ادخال كلمه المرور </div>

              <div *ngIf="getPassword.hasError('pattern')" class="form-text error ">

                كلمه المرور لابد ان تحتوي على 8 احرف على الاقل وحروف خاصه </div>
            </ng-container>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-4">
          <label for="branch" class="col-form-label">الفرع</label>
            <select formControlName="branch" id="branch" class="form-control">
              <option value="">اختر فرع</option>
              <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>

          </select>
          <div *ngIf="AddRepresentive.get('branch')!.invalid && AddRepresentive.get('branch')!.touched">
              <div class="text-danger" *ngIf="AddRepresentive.get('branch')!.errors!['required']">
                  الفرع مطلوب
              </div>
          </div>
        </div>
        <div class="col-lg-4">
          <label for="governates" class="col-form-label"> المحافظات </label>

          <select formControlName="governates" id="governates" class="form-control">
            <option value="">اختر محافظه</option>
            <option *ngFor="let governate of governorates" [value]="governate.id">{{ governate.name }}</option>

        </select>
        <div *ngIf="AddRepresentive.get('governates')!.invalid && AddRepresentive.get('governates')!.touched">
            <div class="text-danger" *ngIf="AddRepresentive.get('governates')!.errors!['required']">
                المحافظه مطلوبة
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <label for="phone" class="col-form-label">رقم الهاتف </label>
          <input type="text" class="form-control" id="phone" class="form-control" name="phone" formControlName="phone">
          <ng-container *ngIf="getphone.touched">

            <div *ngIf="getphone.hasError('required')" class="form-text error">
              رقم الهاتف مطلوب
            </div>

            <div *ngIf="getphone.hasError('pattern')" class="form-text error er">

              رقم الهاتف لابد ان يحتوي  على 11 رقم </div>
          </ng-container>
        </div>

      </div>
      <div class="row mt-4">
        <div class="col-lg-4">
          <label for="address" class="col-form-label"> العنوان </label>
          <input type="text" class="form-control" id="address" class="form-control" name="address"
            formControlName="address">
            <ng-container *ngIf="getAddress.touched">

              <div *ngIf="getAddress.hasError('required')" class="form-text error">
                العنوان مطلوب
              </div>

              <div *ngIf="getAddress.hasError('minlength')" class="form-text error">
                ادخل عنوان صحيح
              </div>
            </ng-container>
        </div>
        <div class="col-lg-4">
          <label for="discondType" class="col-form-label">نوع الخصم </label>
          <select class="form-control" id="discondType" class="form-control" name="discondType"
          formControlName="discondType">
            <option value="0">قيمه ثابته </option>
            <option value="1">نسبه مئويه</option>
          </select>
          <div *ngIf="AddRepresentive.get('discondType')!.invalid && AddRepresentive.get('discondType')!.touched">
            <div class="text-danger" *ngIf="AddRepresentive.get('discondType')!.errors!['discondType']">
                النوع مطلوب
            </div>
        </div>
        </div>
        <div class="col-lg-4">
          <label for="amount" class="col-form-label"> نسبه الشركة من الطلب </label>
          <input type="text" class="form-control" id="amount" class="form-control" name="amount"
            formControlName="amount">
            <div *ngIf="AddRepresentive.get('amount')!.invalid && AddRepresentive.get('amount')!.touched">
              <div class="text-danger" *ngIf="AddRepresentive.get('amount')!.errors!['required']">
                  التكلفة مطلوبة
              </div>
          </div>
        </div>

      </div>
      <button type="submit" class=" btn a mt-4 px-3"
      [disabled]="AddRepresentive.invalid">حفظ </button>
      <button (click)="close()" class="btn-danger btn text-light  mt-4 px-3 me-3" >
        اغلاق
      </button>
    </form>

  </div>
</div>
