<div class="container mt-5 d-flex justify-content-center">
  <form (submit)="submitForm()" [formGroup]="branchesForm" class="">
    <div class="form-group">
      <label for="BranchName" > اسم الفرع </label>
      <input
      formControlName="BranchName"
        type="text"
        id="BranchName"
        placeholder="ادخل اسم  الفرع"
        class="form-control mt-2 me-1"
        [(ngModel)]="BranchName"
        name="BranchName"
        required
      />
      <ng-container *ngIf="getBranchName.touched">
        <div   *ngIf="getBranchName.hasError('required')"
     
        id="NameHelp"
        class="form-text text-danger"
      >
      يجب ادخال اسم الفرع
      </div>
      <div   *ngIf="getBranchName.hasError('minlength')"
     
      id="NameHelp"
      class="form-text text-danger"
    >
    يجب ان يكون الاسم مكون من 3 حروف او اكتر 
    </div>
      </ng-container>
   
    </div>
    <div class="form-group mt-2">
      <label for="Date"> التاريخ </label>
      <input
      formControlName="Date"
        type="date"
        id="governateName"
        class="form-control mt-2 me-1"
        [(ngModel)]="Date"
        name="Date"
        required
      />
    <ng-container *ngIf="getdate.touched">
      <div  *ngIf="getdate.hasError('required')"
     
      id="NameHelp"
      class="form-text text-danger"
    >
      يجب ادخال التاريخ
    </div>
    </ng-container>
    </div>

    <div *ngIf="isEditMode" class="form-check">
     
    </div>
    <div class="form-group mt-2">
      <label for="governate">المدينه </label>
      <select class="form-control mt-2 me-1" [(ngModel)]="selectedCityId" name="city"formControlName="cities">
        <option value="">اختيار مدينة</option>
        <option *ngFor="let city of cities" [value]="city.id">{{
          city.name
        }}</option>
      </select>
    <ng-container *ngIf="getcities.touched">
      <div *ngIf="getcities.hasError('required')"
     
      id="NameHelp"
      class="form-text text-danger"
    >
      يجب اختيار مدينة
    </div>
    </ng-container>
    </div>
    <div class="m-4 me-5">
      <button type="submit" class="btn a text-light " >
        {{ isEditMode ? "تعديل" : "اضافة" }}
      </button>
      <button (click)="close()" class="btn-danger btn text-light me-3" >
        اغلاق
      </button>
    </div>  
  </form>
</div>


