.a{
    background-color: #6f9bad;
    color: #fff;
}
.a:hover{
    background-color: #7faabb;
    color: #fff;

}

.Rebresentive{
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }