<div class="container-fluid p-4">
  <h3>اعدادات الشحن  </h3>
  <div class=" d-flex gray">
    <p class="px-2 home " ><i class="fa-solid fa-house-chimney"></i></p>
    <p class="px-2 "><i class="fa-solid fa-chevron-left"></i></p>
    <p class="px-2">الاعدادات  </p>
    <p class="px-2 "><i class="fa-solid fa-chevron-left"></i></p>
    <p class="px-2 text-black">اعدادات الشحن  </p>
</div>
    <div class="Rebresentive p-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">اسم الشحن</th>
          <th scope="col">تكلفة الشحن</th>
          <th scope="col">عدد ايام الشحن</th>
          <th scope="col">الاعدادات</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let set of setting; let i=index;">
          <td>{{ set.name_Of_Shipping }}</td>
          <td>{{ set.value_Of_shipping }}</td>   
          <td>{{ set.number_Of_Days }}</td>
          <td> 
            <i   (click)="Edit(set.id)" class="fs-5 mx-1 text-info bi bi-pencil-square"></i>
            <i (click)="deleteShippingSetting(set.id)" class=" fs-5 mx-1 text-danger bi bi-trash3-fill"></i>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
      <div class="d-flex justify-content-center mt-5">
    <a (click)="modal()" class="btn a mb-5">اضافة اعدادات</a>

  </div>
  </div>
