<div class="container mt-5 d-flex justify-content-center">
    <form [formGroup]="shippingSettingForm" (submit)="submitForm()" >
        <div class="form-group">
            <label for="name">نوع الشحن </label>
            <input
            formControlName="shippingSettingName"
            type="text"
            id="name"
            class="form-control  mt-2 me-1"
            [(ngModel)]="name"
            name="name"
            required
            />
            <ng-container *ngIf="getName.touched">
                <div   *ngIf="getName.hasError('required')"
               
                id="NameHelp"
                class="form-text text-danger"
              >
               يجب ادخال نوع الشحن
              </div>
              <div   *ngIf="getName.hasError('minlength')"
               
                id="NameHelp"
                class="form-text text-danger"
              >
              يجب ان يكون الاسم مكون من 3 حروف او اكتر 
              </div>
              </ng-container>
        </div>
        <div class="form-group mt-2">
            <label for="value">قيمة الشحن :</label>
            <input
            formControlName="ValueShipping"
            type="number"
            id="value"
            class="form-control mt-2 me-1"
            [(ngModel)]="value"
            name="value"
            required
            />
            <ng-container *ngIf="getValueShipping.touched">
                <div   *ngIf="getValueShipping.hasError('required')"
               
                id="NameHelp"
                class="form-text text-danger"
              >
               يجب ادخال قيمة الشحن
              </div>
              </ng-container>
           
        </div>
        <div class="form-group mt-2">
            <label for="number_Of_Day">عدد الايام:</label>
            <input 
            type="number"
            formControlName="Numberofday"
            id="number_Of_Day"
            class="form-control mt-2 me-1"
            [(ngModel)]="number_Of_Day"
            name="number_Of_Day"
            required
            />
            <ng-container *ngIf="getnumber.touched">
                <div   *ngIf="getnumber.hasError('required')"
               
                id="NameHelp"
                class="form-text text-danger"
              >
               يجب ادخال عدد ايام الشحن
              </div>
              </ng-container>
        </div>
        <div class="m-4 me-5">
          <button type="submit" class="btn a text-light " > حفظ
          </button>
          <button (click)="close()" class="btn-danger btn text-light me-3" >
            اغلاق
          </button>
        </div>  
    </form>
</div>
